<script>
    fetch('https://winniehell.de', {cache: 'reload', redirect: 'manual'})
        .catch(() => {
        })
        .then(() => fetch('https://www.winniehell.de', {cache: 'reload', redirect: 'manual'}))
        .catch(() => {
        })
        .then(() => location.href = 'https://winniehell.de')
</script>
<a href="https://winniehell.de">winniehell.de</a>
