* {
  color: #303030;
}

a {
  background-color: #D0E0FF;
  border: 2px solid #D0E0FF;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #A0B0FF;
  border-color: #A0B0FF;
  color: #000000;
}

body {
  font-family: sans-serif;
  margin: auto;
  margin-top: 100px;
  max-width: 800px;
}

h1 {
  border-bottom: 2px solid #E0E0E0;
}

h1 img {
  border-radius: 2px;
  vertical-align: text-top;
}

small {
  color: #606060;
  vertical-align: text-top;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 8px;
}
